@font-face {
  font-family: "v-sans";
  font-weight: 400;
  src: url("./assets/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "v-sans";
  font-weight: 500;
  src: url("./assets/IBMPlexSans-Medium.ttf");
}