@font-face {
  font-family: "v-sans";
  font-weight: 400;
  src: url("./assets/Inter-Regular.woff2");
}

@font-face {
  font-family: "v-sans";
  font-weight: 500;
  src: url("./assets/Inter-Medium.woff2");
}