@font-face {
  font-family: "v-sans";
  font-weight: 400;
  src: url("./assets/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "v-sans";
  font-weight: 500;
  src: url("./assets/OpenSans-SemiBold.ttf");
}